.button {
	width: 20mm;
	height: 10mm;
}

.inputvolume {
	height: 10mm;
	font-size: 5mm;
	width: 20mm;
}

.mytitle {
	text-align: center;
}

.mytitle2 {
	font-weight: bold;
	font-size: 5mm;
}

.mylink:visited {
  color: blue;
}

.volumeMultiplier{
	font-size:15px;
}